In [22]:
import pandas as pd
from math import nan

reviews_raw = pd.read_csv("./data/letterboxd_250movie_reviews.csv")

reviews_raw.head()
valid_reviews = reviews_raw[reviews_raw['Rating'].notna()][reviews_raw['Status'] == 'Watched'].sample(frac=1)
valid_reviews.head()
valid_reviews.groupby('Rating').count()

/var/folders/6g/d16gbw5x5z9fk0rmvxw5z5q80000gn/T/ipykernel_86407/2993293025.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  valid_reviews = reviews_raw[reviews_raw['Rating'].notna()][reviews_raw['Status'] == 'Watched'].sample(frac=1)

        Unnamed: 0  Review   Date  Status  Movie
Rating
½              232     232    232     232    232
★              266     266    266     266    266
★½             259     259    259     259    259
★★             623     623    623     623    623
★★½            792     791    792     792    792
★★★           2081    2080   2081    2081   2081
★★★½          3890    3890   3890    3890   3890
★★★★         12768   12768  12768   12768  12768
★★★★½        16577   16577  16577   16577  16577
★★★★★        23610   23610  23610   23610  23610


# ideas: filter reviews only in english and in somewhat equal proportions of ratings
# round ratings to nearest integer?

In [ ]:
reviews_raw.filte