In [5]:
import pandas as pd

reviews_raw = pd.read_csv("./data/letterboxd_250movie_reviews.csv")

reviews_raw.head()

,Unnamed: 0,Review,Rating,Date,Status,Movie
0,0,I am an idiot. Why is it that I still dread wa...,★★★★★,01 Dec 2013,Watched,harakiri
1,1,honor in the individual is virtue honor in a s...,★★★★★,18 Jan 2022,NaN,harakiri
2,2,Brilliant. Riveting exploration of mortality a...,NaN,26 Jan 2024,Watched,harakiri
3,3,God damn what an impeccable film. Not dated in...,★★★★★,21 Jun 2021,Watched,harakiri
4,4,95First thing's first: giving a big thanks to ...,★★★★★,06 Sep 2020,Watched,harakiri

reviews_raw.describe()

In [ ]:
reviews_raw.filte